{% load static from static%}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'static_medico/estilo1.css' %}">
  <title>GestionAR Medicos</title>
</head>
<body>
  <header class="header" style='background-color:black'>
    <div class="container">
      <div class="logo" style="margin-left: auto; margin-right: auto; display: block">
        &nbsp;&nbsp;<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
         <a class="navbar-brand" href="#">
        <img src="{% static 'static_medico/logo.svg' %}"  height="50px" /> GestionAR
          </a>
      </div>
      <nav class="menu">
        <a href="#">Bienvenido: {{medico.nombres_y_apellido}} </a>
			  <a href="{% url 'home' %}">Salir</a>
      </nav>
    </div>
  </header>

<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu" style="z-index:10">
	<div class="cont-menu">
		<nav>
			<a href="#">Perfil</a>
			<a href="#">Calendario turnos</a>
			<a href="/listado_turnos">Ver lista pacientes</a>
			<a href="#">Añadir pacientes</a>
			<a href="#">Quitar pacientes</a>
			<a href="#">Ayuda</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>

<div class="container">
    <br><br><br><br><br><br>
    <h1>Listado de turnos solicitados</h1>
    <table  id='myTable' style="z-index:-1">
    <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Fecha turno</th>
        <th>Hora turno</th>
      </tr>
    </thead>
    <tbody>
      {% for turno in turnos %}
        <tr>
          <td>{{turno.dni}}</td>
          <td>{{turno.nombres}}</td>
          <td>{{turno.apellido}}</td>
          <td>{{turno.mail}}</td>
          <td>{{turno.telefono}}</td>
          <td>{{turno.fecha}}</td>
          <td>{{turno.hora}}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
  <script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable({
          language: {
            processing:     "Procesando...",
            search:         "Buscar:",
            lengthMenu:    "Ver _MENU_ turnos",
            info:           "Pagina l de _START_ al _END_ de _TOTAL_ turnos",
            infoEmpty:      "No existen turnos",
            infoFiltered:   "(filtrando _MAX_ turnos del total)",
            infoPostFix:    "",
            loadingRecords: "Cargando turnos...",
            zeroRecords:    "No existen turnos",
            emptyTable:     "No existen turnos",
            paginate: {
                first:      "Primera",
                previous:   "Anterior",
                next:       "Proximo",
                last:       "Ultimo"
            },
            aria: {
                sortAscending:  ": Ordenar en forma ascendente",
                sortDescending: ": Ordenar en forma descendente"
            }
          }
        });
  } );
  </script>

</body>
</html>
